<!DOCTYPE html>
<html>
<head>
	<title>編集画面</title>
</head>
<body>

  <h1>Editing Book</h1>
    <!-- form_for部分 -->
  <%= form_for(@book) do |f| %>
      <div>
          <h4>Title</h4>
          <a><%= f.text_field :title, class: "book_title" %></a>
      </div>
      <div>
          <a><h4>Body</h4></a>
          <a><%= f.text_area :body, class: "book_body" %></a>
      </div>
      <div>
          <%= f.submit 'upload Book' %>
      </div>
   <% end %>

    <a> <%= link_to "Show ", book_path(@book), class: "show_#{@book.id}" %></a>
    |
    <a> <%= link_to " Back", books_path, class: "back" %></a>

</body>
</html>